# TinaCloud values (needed after connecting this repo to TinaCloud)
PUBLIC_TINA_CLIENT_ID=aaf67c9d-a903-4551-9b00-9473c46dd32a
TINA_TOKEN=15891cbea3de5596b9b528ac7c6a1fe87fe506e0

# Used by Astro for canonical URLs.
SITE_URL=http://localhost:4321